/ReciclaMais/java/nbproject/private/
ReciclaMais/php/pages/conexao.php
/java/nbproject/private/
/ReciclaMais/java/build/
ReciclaMais/java/src/java/dao/ConnectionDao.java
ReciclaMais/java/web/assets/cristoverde.png
ReciclaMais/java/web/assets/cristoverde.png
*.png
