body{
    background-color: #E9EFC0;
}
.opcoes a {
    width: 250px;
}
.modal {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 150px;
    background-color: #4E944F;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.modal i {
    align-self: flex-end;
    cursor: pointer;
}
.modal input{
    background-color: #4E944F;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin: 18px 0px;
    color: white;
}
.btn-confirmar {
    background-color: white;
    color: #4E944F;
}