body{
    background-color: #E9EFC0;
}

.modal {
    display: none;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    position: absolute;
    top: 150px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.modal h3{
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: capitalize;
    color: #000000;
    user-select: none;
    cursor: text;
    transition: 0.5s;
}

.modal h3:hover{
    color: #4E944F;
    letter-spacing: 7px;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.modal i {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    transition: 0.5s;
}

.modal i:hover{
    color: #e74c3c;
}

.modal input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    margin: 18px 0px;
    padding: 5px 5px 5px 40px;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    border: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    outline: none;
}

.btn-confirmar {
    background-color: #4E944F;
    color: white;
    padding: 5px;
    transition: 0.5s;
}

.btn-confirmar:hover{
    box-shadow: 0 0px 10px #4E944F,
                0 0px 15px #4E944F,
                0 0px 20px #4E944F;
}