#pagina{
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 5vh 90vh 5vh;
    grid-template-areas: "n1 n1 n1" "n2 conteiner n3" "n4 n4 n4";
}

.conteiner{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    grid-area: conteiner;
}

.conteiner h2,.conteiner form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner h2{
    color: #B4E197;
    font-size: 25px;
    margin: 25px 0;
    letter-spacing: 2px;
    pointer-events: none;
    text-transform: uppercase;
}

.conteiner input{
    border: 1px solid #00000;
    padding: 10px 25px;
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.5s;;
}

.conteiner input:hover{
    border-color: #B4E197;
    padding-left: 35px;
    letter-spacing: 2px;
}

.conteiner input[type='submit']{
    background-color: #83BD75;
    height: 45px;
    font-size: 18px;
    letter-spacing: 2px;
    border: none;
    padding: 0;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
}

.conteiner input[type='submit']:hover{
    background-color: #83BD75;
    letter-spacing: 5px;
}