@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
    font-family: 'Montserrat', 'Nunito', 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    z-index: 0;
}

#pagina {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #E9EFC0, #B4E197, #83BD75, #4E944F);
    display: grid;
    overflow: hidden;
    transition: .5s;
    user-select:none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 100%;
    background-color: #E1E8EB;
}

::-webkit-scrollbar-track {
    border: 2px solid #E1E8EB;
    box-shadow: inset 0 0 5px #4E944F;
}

::-webkit-scrollbar-thumb {
    background: #B4E197;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a0cf80;
}

::-webkit-scrollbar-thumb:active {
    background-color: #83bb5d;
}