* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}
.conteudo-principal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EFC0;

}
.opcoes {
    width: 95vw;
    display: flex;
    justify-content: space-around;
}
.opcao {
    font-size: 22px;
    font-family: 'Arial';
    border: 1px solid #E9EFC0;
    color: #83BD75;
    width: 200px;
    border-radius: 2px;
    margin-top: 10px;
    
}
.opcao:hover {
    color: #4E944F;
}
#selecionado {
    background-color: #83BD75;
    color: #fff;
    border: none;
    pointer-events:none;
}