@import url(estilo.css);

.cabecalho {
    display: flex;
    width: calc(100vw - 102.4px);
    height: 60px;
    justify-content: space-between;
    margin: 0 51.2px;
    align-items: center;
    border-bottom: 1px solid var(--preto);
    z-index: 999;
    grid-area: cabecalho;
}

.cabecalho a {
    font-style: 'Montserrat';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.cabecalho h2 {
    width: 200px;
    font-family: 'Nunito';
    font-weight: 400;
    color: var(--preto);
    transition: var(--tempo);
    font-size: 25px;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
}

.cabecalho h2:hover {
    font-weight: 900;
    letter-spacing: 3px;
    color: var(--verdeC4);
}

.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 50%;
    height: var(--max);
}

.opcoes li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.opcoes li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    padding: 0 5px;
    margin: 0 5px;
    letter-spacing: 1px;
    transition: var(--tempo);
    user-select: none;
}

.opcoes li a:hover {
    font-weight: 800;
    letter-spacing: 3px;
}

.opcoes li a::after {
    content: '';
    background-color: var(--verdeC4);
    position: absolute;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: var(--tempo);
}

.opcoes li a:hover:after {
    width: 100%;
}

.logos {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carrinho {
    margin-right: -5px;
}

.logos i {
    cursor: pointer;
    color: var(--preto);
    user-select: none;
}

.opcoes li:hover {
    font-weight: 800;
}

.logos a i span {
    display: inline-block;
    background-color: var(--preto);
    border-radius: 50%;
    color: var(--branco);
    font-size: 12px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    text-align: center;
    padding-right: 2px;
    right: 3px;
    user-select: none;
}

.login {
    width: 130px;
    height: 35px;
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid var(--preto);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
}

.login a {
    width: var(--max);
    height: var(--max);
    padding: 4px 10px;
    
}

.login i {
    font-size: 20px;
}

.logar {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    color: var(--preto);
    user-select: none;
    margin-left: .1rem;
}