@import url(estilo.css);

.cabecalho {
    font-family: 'Nunito';
    display: flex;
    width: 90vw;
    height: 40px;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #b4b4b4;
    position: fixed;
}

.nome-cooperativa{
    font-family: 'Nunito';
    font-weight: 200;
    color: var(--verde4);
}

.cabecalho a {
    text-decoration: none;
    color: inherit;
}

.opcoes {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
}

.opcoes li {
    cursor: pointer;
}

.opcoes li a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: relative;
    padding: 0 10px;
}

.opcoes li a::after {
    content: '';
    background-color: var(--verde4);
    position: absolute;
    width: 0px;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: var(--tempo);
}

.opcoes li a:hover:after {
    width: 100%;
}

.logos {
    font-size: 25px;
}

.logos i {
    margin-right: 5px;
    cursor: pointer;
    color: var(--preto);
}

.opcoes li:hover {
    font-weight: 800;
}

.logos span {
    display: inline-block;
    text-align: center;
    background-color: #83BD75;
    border-radius: 50%;
    color: var(--branco);
    font-size: 12px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    font-weight: bold;
    position: relative;
    bottom: 15px;
    right: 0;
}