@import url(estilo.css);

#pagina {
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: "nada1 nada1 nada1""nada2 conteiner nada3""nada4 nada4 nada4";
}

.home {
    position: absolute;
    top: 0;
    left: 0;
}

.retornar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--preto);
    transition: var(--tempo);
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.retornar:hover {
    background-color: var(--verdeC4);
}

.retornar .voltar {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid var(--branco);
    transition: var(--tempo);
    top: 50%;
    left: 35%;
    transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-bottom: none;
}

.retornar:hover .voltar {
    left: 28%;
}

.retornar .voltar:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: var(--branco);
    transform-origin: left;
    transform: rotate(45deg) translate(-7px, 4px) scaleX(0);
    transition: var(--tempo);
}

.home:hover .voltar:before {
    transform: rotate(45deg) translate(-7px, 4px) scaleX(1);
}

.descricao {
    background-color: var(--preto);
    font-family: 'Arial';
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    color: var(--branco);
    letter-spacing: 2px;
    font-weight: 600;
    pointer-events: none;
    position: absolute;
    left: 50px;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%) translateX(0px);
    visibility: hidden;
    transition: var(--tempo);
}

.home:hover .descricao {
    transform: translateY(-50%) translateX(10px);
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.descricao:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    background: var(--preto);
    top: 30%;
    left: 2%;
    transform: translateX(-50%) rotate(45deg);
}

.home:hover .retornar,
.home:hover .descricao {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.conteiner {
    background: var(--branco);
    grid-area: conteiner;
    position: relative;
    border-radius: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.4),
        inset 4px 4px 6px -1px rgba(255, 255, 255, 0.4),
        inset -4px -4px 6px -1px rgba(78, 148, 79, 0.7);
}

.conteiner form {
    padding-top: 50px;
    width: var(--max);
    height: var(--max);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
}

.conteiner picture.cristo {
    width: 120px;
    height: 120px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -60px;
    left: calc(50% - 60px);
    background: var(--backgroundC);
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(78, 148, 79, 0.5);
}

.conteiner img {
    width: 120px;
    height: 120px;
}

.cabecalho h2 {
    width: fit-content;
    margin: 15px auto;
    font-size: 25px;
    padding: 0 5px;
    color: var(--preto);
    text-align: center;
    position: relative;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.cabecalho h2::after {
    content: '';
    background-color: var(--verdeC4);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.div_input_label {
    margin-top: 25px;
    width: var(--max);
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    background-color: transparent;
    position: absolute;
    font-size: 14px;
    top: -20px;
    left: 35px;
    padding: 0 10px;
    color: var(--preto);
    text-transform: uppercase;
    cursor: text;
    pointer-events: none;
    transition: var(--tempo);
    letter-spacing: 2px;
}

.input {
    width: calc(var(--max) - 20%);
    height: 35px;
    padding-left: 35px;
    background: transparent;
    border-bottom: 2px solid var(--verdeC4);
    color: var(--preto);
    transition: var(--tempo);
    outline: none;
}

.input_span {
    position: absolute;
    top: 5px;
    left: 50px;
    color: var(--preto);
    pointer-events: none;
}

.icone {
    color: inherit;
    transition: var(--tempo);
    pointer-events: none;
    cursor: text;
}

.input:valid,
.input:focus {
    font-size: 1em;
    color: var(--preto);
}

.input:valid~.label,
.input:focus~.label,
.input:valid~.input_span,
.input:focus~.input_span {
    color: var(--verdeC4);
}

.input:valid~.label,
.input:focus~.label {
    letter-spacing: .1em;
    
}

.div_button {
    width: var(--max);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    order: 5;
}

.button {
    width: calc(var(--max) - 20%);
    height: 45px;
    color: var(--branco);
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1em;
    cursor: pointer;
    box-shadow: 4px 4px 8px -1px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    background: var(--backgroundC);
}

.button:active {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.4),
        inset -4px -4px 6px -1px rgba(78, 148, 79, 0.7),
        -0.5px -0.5px 0 rgba(78, 148, 79, 1),
        0.5px 0.5px 0 rgba(0, 0, 0, 0.15),
        0 12px 10px -10px rgba(0, 0, 0, 0.05);
    transform: translateY(2px);
}