* {
    font-family: 'Montserrat','Nunito';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    z-index: 0;
}

:root {
    /* plano de fundo */
    --backgroundC: linear-gradient(120deg,var(--verdeC1),var(--verdeC2),var(--verdeC3),var(--verdeC4));
    --backgroundE: linear-gradient(120deg,var(--verdeE4),var(--verdeE3),var(--verdeE2),var(--verdeE1));

    /* imagens */
    

    /* cores */
    --verdeC1: #E9EFC0;
    --verdeC2: #B4E197;
    --verdeC3: #83BD75;
    --verdeC4: #4E944F;

    --verdeE1: #235347;
    --verdeE2: #163832;
    --verdeE3: #0b2b26;
    --verdeE4: #051f20;

    --preto: #000000;
    --cinzaE: #2f2323;
    --branco: #ffffff;
    --cinzaC: #c6c6c6;
    
    --sucesso: #2ecc71;
    --erro: #e74c3c;
    --transparent: transparent;

    /* números */
    --tamanho-x: 100vw;
    --tamanho-y: 100vh;
    --max-porcentagem: 100%;
    --tempo: 0.5s;
    --font-size: 18px;
    
}

#pagina {
    width: var(--tamanho-x);
    height: var(--tamanho-y);
    background: var(--backgroundC);
    display: grid;
    overflow: hidden;
}